
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-um:  #FBF5F4;
    --cor-dois: #A08B64;
    --cor-tres: #8C6954;
    --cor-quatro: #FFF;
    --cor-cinco: #FFE1D0;
    --cor-hover: #b49d71;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-um);
    font-family: "Inter", sans-serif;
   
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
}

.container__bloco1{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}

.container__bloco1__textarea{
    resize: none;
    width: 90%;
    height: 500px;
    border-radius: 16px;
    background-color:transparent;
    border: none;
    outline: none;
    font-size: 32px;
    font-weight: 400;
    color: var(--cor-dois);
    text-transform: lowercase;            
}

.container__bloco1__textarea::placeholder{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--cor-dois);
    text-transform:initial;
}


.container__bloco1__exclamacao{
    display: flex;
    justify-content:flex-start;
    gap: 5px;
    padding-top: 3%;
}

.container__bloco1__botoes{
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: 90%;
}

.container__bloco1__botoes__cripto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 24px;
    background: var(--cor-tres);
    padding: 8px 24px;
    width: 100%;
    font-size: 16px;
    color: var(--cor-quatro);
    border: none;
    margin-top: auto;    
}

.container__bloco1__botoes__cripto:hover{
    background-color: var(--cor-hover);
}

.container__bloco1__botoes__descripto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 24px;
    background: var(--cor-cinco);
    padding: 8px 24px;
    width: 100%;
    font-size: 16px;
    color: var(--cor-dois);
    border: 1px solid var(--cor-dois);
    margin-top: auto;
           
}

.container__bloco1__botoes__descripto:hover{
    background-color: var(--cor-hover);
    color: var(--cor-quatro);
}


.container__bloco2{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 650px;
    border-radius: 16px;
    background-color: var(--cor-quatro);
    border: none;
    font-size: 32px;
    font-weight: 400;
    color: var(--cor-dois);
    
}

.container__bloco2__img{
    width: 75%;
}

.container__bloco2__paragrafo1{
    padding: 0% 0% 0% 8%;
    font-size: 24px;
    font-weight: 700;
    
}

.container__bloco2__paragrafo2{
    padding: 3% 0% 0% 8%;
    font-size: 16px;
    font-weight: 400;
    
}

.container__bloco2__textarea{
    resize: none;
    width: 90%;
    height: 225px;
    padding-left: 8%;
    background-color: var(--cor-quatro);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-dois);
    
}

.container__bloco2__botoes{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
}

.container__bloco2__botoes__copiar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 24px;
    background: var(--cor-quatro);
    padding: 8px 24px;
    width: 45%;
    font-size: 16px;
    color: var(--cor-dois);
    border: 1px solid var(--cor-dois);
    
}

.container__bloco2__botoes__copiar:hover{
    background-color: var(--cor-hover);
    color: var(--cor-quatro);
}

.container__bloco2__botoes__limpar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 24px;
    background: var(--cor-quatro);
    padding: 8px 24px;
    width: 45%;
    font-size: 16px;
    color: var(--cor-dois);
    border: 1px solid var(--cor-dois);
           
}

.container__bloco2__botoes__limpar:hover{
    background-color: var(--cor-hover);
    color: var(--cor-quatro);
}


.rodape{
    
    color: var(--cor-dois);
}

.rodape__bloco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 3%;
}


.rodape__bloco__paragrafo{
    font-size: 12px;
    font-weight: 700;
    color: var(--cor-dois);
}



@media (max-width: 950px){

.container{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    margin-left: 5%;    
}
    
.container__bloco1{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 525px;
    padding: 5%;
    margin: 5% 5% 5% 0%;
    border-radius: 16px;
}

.container__bloco1__textarea{
    width: 80%;
    width: 500px;
}
.container__bloco2{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    padding: 5%;
    margin: 5% 5% 5% 0%;
    border-radius: 16px;
    background-color: var(--cor-quatro);
    border: none;
    font-size: 32px;
    font-weight: 400;
    color: var(--cor-dois);
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.078);
}

.container__bloco2__img{
    display: none;
}

.container__bloco2__paragrafo1{
    padding: 0% 0% 0% 5%;
    font-size: 24px;
    font-weight: 700;
    
}

.container__bloco2__paragrafo2{
    padding: 2% 0% 0% 5%;
    font-size: 16px;
    font-weight: 400;
    
}

.container__bloco2__textarea{
    resize: none;
    width: 90%;
    height: 255px;
    padding-left: 5%;
    padding-top: 5%;
    background-color: var(--cor-quatro);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-dois);
    
}

.container__bloco2__botoes{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 16px;
    
}

.container__bloco2__botoes__copiar{
    border-radius: 24px;
    background: var(--cor-quatro);
    padding: 8px 24px;
    width: 35%;
    font-size: 16px;
    color: var(--cor-dois);
    border: 1px solid var(--cor-dois);
    
}

.container__bloco2__botoes__copiar:hover{
    background-color: var(--cor-hover);
    color: var(--cor-quatro);
}

.container__bloco2__botoes__limpar{
    border-radius: 24px;
    background: var(--cor-quatro);
    padding: 8px 24px;
    width: 35%;
    font-size: 16px;
    color: var(--cor-dois);
    border: 1px solid var(--cor-dois);
           
}

.container__bloco2__botoes__limpar:hover{
    background-color: var(--cor-hover);
    color: var(--cor-quatro);
}
}

@media (max-width: 540px){

    .container{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        font-family: "Inter", sans-serif;
        margin-left: 3%;    
    }
        
    .container__bloco1{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 400px;
        padding: 3%;
        margin: 3% 3% 3% 0%;
        border-radius: 16px;
    }

    .container__bloco1__botoes{
        display: flex;
        flex-direction: column;
    }
    .container__bloco1__textarea{
        width: 80%;
        width: 300px;
    }
    .container__bloco2{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        padding: 3%;
        margin: 3% 3% 3% 0%;
        border-radius: 16px;
        background-color: var(--cor-quatro);
        border: none;
        font-size: 32px;
        font-weight: 400;
        color: var(--cor-dois);
        box-shadow: 15px 8px 15px rgba(0, 0, 0, 0.078);
    }
    
    .container__bloco2__img{
        display: none;
    }
    
  
    .container__bloco2__paragrafo1{
        padding: 0% 0% 0% 3%;
        font-size: 24px;
        font-weight: 700;
        
    }
    
    .container__bloco2__paragrafo2{
        padding: 1% 0% 0% 3%;
        font-size: 16px;
        font-weight: 400;
        
    }
    
    .container__bloco2__textarea{
        resize: none;
        width: 90%;
        height: 175px;
        padding-left: 3%;
        padding-top: 3%;
        background-color: var(--cor-quatro);
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        color: var(--cor-dois);
        
    }
    
    .container__bloco2__botoes{
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 8px;
        
    }
    
    .container__bloco2__botoes__copiar{
        border-radius: 24px;
        background: var(--cor-quatro);
        padding: 8px 24px;
        width: 35%;
        font-size: 16px;
        color: var(--cor-dois);
        border: 1px solid var(--cor-dois);
        
    }
    
    .container__bloco2__botoes__copiar:hover{
        background-color: var(--cor-hover);
        color: var(--cor-quatro);
    }
    
    .container__bloco2__botoes__limpar{
        border-radius: 24px;
        background: var(--cor-quatro);
        padding: 8px 24px;
        width: 35%;
        font-size: 16px;
        color: var(--cor-dois);
        border: 1px solid var(--cor-dois);
               
    }
    
    .container__bloco2__botoes__limpar:hover{
        background-color: var(--cor-hover);
        color: var(--cor-quatro);
    }
    }